<h2>FORMULARIO DE PERGUNTAS</h2>

<form #cadastro="ngForm" (submit)="salvar()">
  <div id="inputs">
    <div class="form-group">
      <label>Pergunta</label><br>
      <textarea name="pergunta" [(ngModel)]="pergunta" cols="70" rows="3"></textarea>
    </div>
  </div>
  <div>
  <button id="addAlter" type="reset" class="btn btn-secondary" (click)="addAlter()">Adicionar alternativa</button> 
  <button type="submit" class="btn btn-primary">Cadastrar</button>
  <button type="reset" class="btn btn-danger">cancelar</button>
  </div>
</form>
<div *ngFor="let item of perguntas">
  <h2>{{item.pergunta}} - {{item.respostaCerta}}</h2>
  <div *ngFor="let i of item.respostasErradas">
    <h2>{{i}}</h2>
  </div>
</div>